@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.sidebar{
    position: fixed;
    width: 150px;
    height: 100%;
    background-color: aqua;
}

.sidebar ul {
    padding: 70px 0;

}

.sidebar li {
    margin: 30px 0;
    margin-left: 5px;
}

a {
    color: black;
}

a:hover {
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

.wrap-side-comp {
    display: flex;
}

.wrap-side-comp > div {
    margin: 3px;
}


.wrap-btn-signout {
    width: 100%;
}

.wrap-side-comp div p:hover{
    cursor: pointer;
}



