.con-resetpass {
    display: flex;
    height: 100vh;
}

.page-resetpass {
    margin-left: 200px;
    width: 100%;
}


.box-resetpass {
    width: 400px;
    height: 200px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}


.box-resetpass > h3 {
    text-align: center;
}

.box-resetpass > form > button {
    width: 100%;
    height: 30px;
    margin-top: 20px;
    background-color: #22A39F;
    border: none;
    border-radius: 5px;
    color: white;
}